body {
	width: 100%;
}
body:before,
body:after {
	content: "";
	display: table
}
body:after {
	clear: both
}
html {
	height: 100%;
	overflow-y: scroll;
	font-size: 62.5%;
}
body {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	min-height: 100%;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding-top: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #40444f;
	background: #f5f9fa;
	text-shadow: 0 .1rem 0 rgba(255, 255, 255, 0.6);
}
div.hgroup {
	max-width: 99.2rem;
	margin: 0 auto 3.2rem;
}
div.hgroup h1,
div.hgroup h2,
div.hgroup h3,
div.hgroup p,
div.hgroup button {
	margin-left: 1.6rem;
	margin-right: 1.6rem
}
div.hgroup h2 {
	margin-bottom: 3.2rem
}
main div.hgroup {
	max-width: 96rem;
}
main div.hgroup h1,
main div.hgroup h2,
main div.hgroup h3,
main div.hgroup p,
main div.hgroup button {
	margin-left: 0;
	margin-right: 0
}
main {
	display: block;
	padding: 0 1.6rem;
}
main:before,
main:after {
	content: "";
	display: table
}
main:after {
	clear: both
}
h1 {
	margin: 4rem 0 .8rem;
	font-size: 4.48rem;
	font-family: "OpenSans", sans-serif;
	font-weight: normal;
	line-height: 4.8rem;
	text-rendering: optimizeLegibility;
	letter-spacing: -.035em;
	text-indent: -.24rem;
}
h2 {
	margin: .8rem 0;
	font-size: 2.48rem;
	font-family: "OpenSans", sans-serif;
	font-weight: normal;
	letter-spacing: -.025em;
	line-height: 125%;
	text-indent: -.08000000000000002rem;
}
h3 {
	margin: 1.6rem 0 0;
	font-size: 1.05em;
	font-weight: bold;
	color: #40444f
}
figure {
	display: block;
	margin: 0
}
input,
textarea,
button {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-size: 1.52rem;
	margin-right: .8rem;
}
input:not([type]),
input[type=text],
input[type=email],
input[type=number],
input[type=url],
textarea {
	padding: .8rem .8rem .64rem;
	background-color: #f8fbfc;
	border: .1rem solid #bbcbd0;
	border-bottom-width: .3rem;
	border-radius: .2rem;
	outline: none;
	-webkit-box-shadow: inset .1rem .4rem .8rem rgba(0, 0, 0, 0.05);
	box-shadow: inset .1rem .4rem .8rem rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #40444f;
	-webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
	transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
input:not([type]),
input[type=text],
input[type=email],
input[type=url] {
	width: 21rem
}
input[type=submit],
input[type=button],
button {
	margin: 0;
	padding: .16000000000000003rem 1.12rem;
	height: 3.36rem;
	background-color: #bbcbd0;
	border: none;
	border-bottom: .3rem solid #788990;
	border-radius: .2rem;
	color: #fff;
	font-weight: bold;
	text-shadow: .1rem .1rem 0 rgba(150, 150, 150, 0.6);
	cursor: pointer;
	-webkit-appearance: none;
}
footer {
	margin-top: auto;
	color: #788287;
	background-color: #40444f;
	background: -webkit-linear-gradient(top, #40444f, #363a43);
	background: -moz-linear-gradient(top, #40444f, #363a43);
	background: -o-linear-gradient(top, #40444f, #363a43);
	background: -ms-linear-gradient(top, #40444f, #363a43);
	background: linear-gradient(to bottom, #40444f, #363a43);
	text-shadow: -.08rem -.1rem 0 #202228;
}
footer div.container {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 4rem;
	padding-bottom: 1rem;
}
footer div.container ul.columns {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-o-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-o-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -1rem;
	padding-left: 0;
	width: 100%;
}
footer div.bottom {
	clear: both;
	padding: 2.4rem 0;
	background: #363a43;
}
footer div.bottom div.content {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	line-height: 2.24rem;
}
main.customerlogos {
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
	text-align: center;
}
body.home main.customerlogos {
	background: #f1f6f8
}
section.upload {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 96rem;
	margin: 0 auto;
	padding: 20.4rem 0 3.7rem;
}
section.upload figure.cloud-one {
	position: absolute;
	z-index: 1;
	top: -2.4rem;
	left: -10%;
	width: 55.7rem;
	height: 22.3rem;
	-webkit-background-size: 55.7rem 22.3rem;
	-moz-background-size: 55.7rem 22.3rem;
	background-size: 55.7rem 22.3rem;
	background-repeat: no-repeat;
	background-image: url(/images/cloud-left.png);
}
section.upload figure.cloud-two {
	position: absolute;
	z-index: 2;
	top: -6.4rem;
	right: -10%;
	width: 72.4rem;
	height: 25.6rem;
	-webkit-background-size: 72.4rem 25.6rem;
	-moz-background-size: 72.4rem 25.6rem;
	background-size: 72.4rem 25.6rem;
	background-repeat: no-repeat;
	background-image: url(/images/cloud-right.png);
}
section.upload figure.grass {
	position: absolute;
	z-index: 9;
	bottom: 0;
	margin-left: -25rem;
	background-position: bottom center;
	width: 155.10000000000002rem;
	height: 2.7rem;
	-webkit-background-size: 155.10000000000002rem 2.7rem;
	-moz-background-size: 155.10000000000002rem 2.7rem;
	background-size: 155.10000000000002rem 2.7rem;
	background-repeat: no-repeat;
	background-image: url(/images/grass-confetti.png);
}
section.upload figure.panda {
	position: absolute;
	z-index: 7;
	bottom: 0;
	left: 25%;
	margin-left: -24rem;
	background-position: center bottom, 32rem bottom;
	width: 26.900000000000002rem;
	height: 25.3rem;
	-webkit-background-size: 26.900000000000002rem 25.3rem, 26.900000000000002rem 25.3rem;
	-moz-background-size: 26.900000000000002rem 25.3rem, 26.900000000000002rem 25.3rem;
	background-size: 26.900000000000002rem 25.3rem, 26.900000000000002rem 25.3rem;
	background-repeat: no-repeat;
	background-image: url(/images/panda-chewing.png), url(/images/panda-happy.png);
}
section.upload figure.bamboo {
	position: absolute;
	z-index: 5;
	left: 70%;
	bottom: 0;
	background-position: bottom center;
	width: 32rem;
	height: 100rem;
	-webkit-background-size: 32rem 100rem;
	-moz-background-size: 32rem 100rem;
	background-size: 32rem 100rem;
	background-repeat: no-repeat;
	background-image: url(/images/bamboo.png);
}
section.files {
	display: none;
	position: relative;
	z-index: 6;
	margin: 3.2rem auto 20rem;
	padding: 1.2rem;
	border: .1rem solid #bbcbd0;
	border-radius: .2rem;
	background-color: #fff;
	max-width: 96rem;
}
body.home header {
	overflow: hidden;
	background: -webkit-linear-gradient(top, #c6dde4, #fefeff);
	background: -moz-linear-gradient(top, #c6dde4, #fefeff);
	background: -o-linear-gradient(top, #c6dde4, #fefeff);
	background: -ms-linear-gradient(top, #c6dde4, #fefeff);
	background: linear-gradient(to bottom, #c6dde4, #fefeff)
}
body.home main {
	background-color: #fafcfd;
	background: -webkit-linear-gradient(top, #dcebf1 0%, #fafcfd 30%);
	background: -moz-linear-gradient(top, #dcebf1 0%, #fafcfd 30%);
	background: -o-linear-gradient(top, #dcebf1 0%, #fafcfd 30%);
	background: -ms-linear-gradient(top, #dcebf1 0%, #fafcfd 30%);
	background: linear-gradient(to bottom, #dcebf1 0%, #fafcfd 30%);
}
body.home main.highlight div.hgroup {
	text-align: center
}
